{% extends "KSSVBundle::template.html.twig" %}

{% block title %} Stephane Villagordo {% endblock %}
{% block competences %}active{% endblock %}

{% block body %}

	<div class="clear"> </div>

	<h3>Informatique</h3>
	<ul>
		<li>PHP/MYSQL : 20h formation / 50h auto-formation</li>
		<li>HTLM/CSS : 40h formation / 40h auto-formation</li>
		<li>Symfony 2 : 30h auto-formation</li>
		<li>Photoshop/Illustrator : 30h formation</li>
		<br/>
		<p> Autres </p>
		<li>Pack Office</li>
		<li>Dreamweaver</li>
		<li>Acces Database</li>
	</ul>

	<h3>Business</h3>
	<ul>
		<li>Management</li>
		<li>Vente</li>
		<li>Marketing</li>
		<li>Finance</li>
		<li>Comptabilité</li>
	</ul>

	<h3>Linguistiques</h3>
	<ul>
		<li>Anglais C1 (Cambridge First Certificate)</li>
		<li>Chinois (Notions)</li>
	</ul>

	<h3>Caractères</h3>
	<ul>
		<li>Créatif</li>
		<li>Adaptatif</li>
		<li>Curieux</li>
	</ul>

	
{% endblock %}