{% extends "KSSVBundle::template.html.twig" %}

{% block title %} Stephane Villagordo {% endblock %}
{% block competences %}active{% endblock %}

{% block body %}

	<div class="clear"> </div>
<div class="formation">
	<h3 class="title"> Formation </h3>
				<ul>
					<li>2011-2017 : Master à <strong>EDC Paris</strong> en E-Business : Marketing, Management, CRM, Communications</li>
					<li>M1-M2 : Partenariat avec <strong>EfreiTech</strong> en Master E-Business : PHP, MYSQL, Photoshop, Illustrator</li>
					<li>L3 2nd Semestre à Singapour à <strong>Nanyang Polytechnic</strong> en E-Business : Management, Ressources humaines et Integration web </li>
					<li>L3 1er Semestre aux Etats-Unis à <strong> California State of Monterey Bay</strong> en majeur Business : Finance, Marketing et Management</li>
					<li>2011 : Bac ES mention AB</li>
				</ul>
</div>
	
{% endblock %}