{% extends "KSSVBundle::template.html.twig" %}

{% block title %} Stephane Villagordo {% endblock %}
{% block competences %}active{% endblock %}

{% block body %}

	<div class="clear"> </div>
	<h3 class="title">Formulaire de contact </h3>

</div>
	
{% endblock %}