{% extends "KSSVBundle::template.html.twig" %}

{% block title %} Stephane Villagordo {% endblock %}
{% block home %}active{% endblock %}

{% block body %}

	<div class="clear"> 
	</div>
		<div class="divider top">
		<h3 class="title">Formation</h3>
	</div>

<div class="formation">
				<ul>
					<li>2011-2017 : Master à <strong>EDC Paris</strong> en E-Business : Marketing, Management, CRM, Communications</li>
					<li>M1-M2 : Partenariat avec <strong>EfreiTech</strong> en Master E-Business : PHP, MYSQL, Photoshop, Illustrator</li>
					<li>L3 2nd Semestre à Singapour à <strong>Nanyang Polytechnic</strong> en E-Business : Management, Ressources humaines et Integration web </li>
					<li>L3 1er Semestre aux Etats-Unis à <strong> California State of Monterey Bay</strong> en majeur Business : Finance, Marketing et Management</li>
				</ul>
</div>
		<div class="clear"></div>
		<div class="divider">
		<h3 class="title">Competences</h3>
	</div>
		<div class="skill">
				<h4>Developpement</h4>
				<ul>
					<li>PHP/MYSQL</li>
					<li>HTML/CSS</li>
					<li>Symfony 2</li>
				</ul>
		</div>

		<div class="skill">
				<h4>Logiciel</h4>
				<ul>
					<li>Photoshop/Illustrator</li>
					<li>Dreamweaver</li>
					<li>Acces Data Base</li>
					<li>Excel</li>
				</ul>
		</div>

		<div class="skill">
				<h4>Business</h4>
				<ul>
					<li>Management</li>
					<li>Marketing</li>
					<li>CRM</li>
					<li>Content-Management</li>
				</ul>
		</div>

		<div class="skill">
				<h4 class="ling">Linguistiques</h4>
				<ul>
					<li>Anglais C1 ( <a href="http://www.cambridgeenglish.org/" target="blank">Cambridge Certificate</a> )</li>
					<li>Chinois (Notions)</li>
				</ul>
		</div>

		<div class="clear"></div>
		<div class="divider">
		<h3 class="title">Expériences</h3>
	</div>

		<div class="experience">
			<img class="exp-img" src="#">
				<div class="block-exp">
					 <h4> Création d'un site internet sur l'épanouissement professionel pour un coach certifié</h4>
						<ul>
							<li>Aide à la rédaction des articles du blog pour attirer et conserver les lecteurs</li>
							<li>Systeme de gestion de contenu sous Wordpress</li>
						</ul>
				</div>

				<div class="clear"></div>
				<div class="exp-img">
					<img src="{{ asset('public/img/celio.png') }}" width="100" height="30">
				</div>
				<div class="block-exp">
					<h4> 2012 - Juin à Août : vendeur chez Celio à Châtelet les halles</h4>
					<ul>
						<li>Vendeur en forte période : Solde d'été</li>
					</ul>
				</div>

				<div class="clear"></div>
				<div class="exp-img">
					<img src="{{ asset('public/img/gala.jpeg') }}" width="100" height="70" >
				</div>
				<div class="block-exp">
					<h4> 2012 : Préparation du 58ème Gala de l'EDC "Conférence à Venise"</h4>
					<ul>
						<li>Recherche de mécénat pour financer l'événement (70,000€ récupérés par l'ensemble de l'association)</li>
						<li>Recherche d'animation pour la soirée, demande de devis et analyse des différentes possibilités selon le budget accordé</li>
					</ul>
				</div>

				<div class="clear"></div>
				<div class="exp-img">
					<img src="{{ asset('public/img/darty.png') }}" width="100" height="100">
				</div>

				<div class="block-exp">
					<h4>2011 - Décembre : vendeur chez Darty à Torcy</h4>
					<ul>
						<li>Responsable du rayon audio : gestion des stocks, aménagement et des ventes </li>
						<li>Résultats : Augmentation de 80% du chiffre d'affaire des casques audio sans fil</li>
					</ul>
				</div>

				<div class="clear"></div>
			<div class="exp-img">
				<img src="{{ asset('public/img/rdj.png') }}" width="100" height="100">
			</div>
				<div class="block-exp">
					<h4>Août 2010 et 2011 : Organisation d'un évènementiel pour l'association "rêves de jeux" pour 50 enfants</h4>
					<ul>
						<li>Travail en équipe avec 5 autres personnes</li>
						<li>Création de différents scénario  sur l'ensemble de la journée avec les rôles et objectifs de chacun (animateurs et enfants)</li>
						<li>Surveillance du bon déroulement de l'évènement et gestion des différents imprévus</li>
					</ul>
				</div>


		</div>

		<div class="clear"></div>
		<div class="divider">
		<h3 class="title">Loisir</h3>
	</div>

	<div class="loisir">
		<span>Series</span> <span>Manga & Roman</span> <span> Basket-ball</span> <span>Voyages</span> <span> Jeux vidéo</span>
	</div>

	<hr class="clear">
{% endblock %}