{% extends "KSSVBundle::template.html.twig" %}

{% block title %} Stephane Villagordo {% endblock %}
{% block home %}active{% endblock %}

{% block body %}

	<div class="clear"> </div>

	<h3> Formation </h3>
	<ul>
		<li> 2011-2017 : Master à EDC Paris </li>
		<li> M1-M2 : Master E-Business en partenariat avec EfreiTech</li>
		<li> L3 2nd semestre : Nanyang Polytechnic à Singapour en majeur Business et intégration web</li>
		<li> L3 1er semestre : Monterey Bay aux Etats-Unis en majeur Business </li>
		<li> 2011 : Bac ES mention AB</li>
	</ul>

	<h3> Experiences </h3>
	<ul>
		<li>Aide Creation site</li>
		<li>Vente : celio + Darty</li>
		<li>Préparation du 58eme Gala EDC</li>
		<li>Organisation évenementiel "Grandeur Nature" pour l'association "Rêves de jeux"</li>
	</ul>

	<h3>Loisir</h3>
	<ul>
		<li>Series</li>
		<li>Manga & Roman</li>
		<li>Basket-ball</li>
		<li>Voyages autour du monde</li>
		<li>jeux vidéo</li>
	</ul>
	
{% endblock %}