{% extends "KSSVBundle::template.html.twig" %}

{% block title %} Stephane Villagordo {% endblock %}
{% block projet %}active{% endblock %}

{% block body %}

	<div class="clear"> </div>

	<h3>En cours</h3>
	<ul>
		<li>CSS + Responsive Design</li>
		<li>Formulaire de contact</li>
	</ul>

	<h3>Changelog Site</h3>
	<ul>
		<li>20/01/2016 : Ajout contenu</li>
		<li>18/01/2016 : Routing des pages</li>
	</ul>

	
{% endblock %}