{% extends "KSSVBundle::template.html.twig" %}

{% block title %} Stephane Villagordo {% endblock %}
{% block projet %}active{% endblock %}

{% block body %}

	<div class="clear"> </div>

	<h3>En cours</h3>
	<ul>
		<li>Ajout bouton d'information + Demande de contact</li>
		<li>Responsive Design</li>
		<li>Version Anglaise</li>
	</ul>

	<h3>Changelog Site</h3>
	<ul>
		<li>24/01/2016: CSS</li>
		<li>20/01/2016 : Ajout contenu</li>
		<li>18/01/2016 : Routing des pages</li>
	</ul>

	
{% endblock %}