{% extends "KSSVBundle::template.html.twig" %}

{% block title %} Stephane Villagordo {% endblock %}
{% block projet %}active{% endblock %}

{% block body %}

	<h3 class="title"><a href="http://www.ksc-project.com/SV" target="blank">Site Personnel</a></h3>

	<div class="clear"> </div>

	<h3>En cours de réalisation</h3>
	<ul>
		<li>Formulaire de contact</li>
		<li>Responsive Design</li>
		<li>Version Anglaise</li>
	</ul>

	<h3>Changelog Site</h3>
	<ul>
		<li>26/01/2016 : Ajout de bouton popover</li>
		<li>24/01/2016: CSS</li>
		<li>20/01/2016 : Ajout contenu</li>
		<li>18/01/2016 : Routing des pages</li>
	</ul>

	
{% endblock %}