Votre personnage est : 

<ul>
	<li> <a href="http://localhost/ksc/KSC/web/app_dev.php/">index </a> </li>
	<li> <a href="http://localhost/ksc/KSC/web/app_dev.php/play">play </a> </li>
	<li> <a href="http://localhost/ksc/KSC/web/app_dev.php/creation">creation </a> </li>
	<li> <a href="http://localhost/ksc/KSC/web/app_dev.php/connection">connection </a> </li>
	<li> <a href="http://localhost/ksc/KSC/web/app_dev.php/profil">profil </a> </li>
	<li> <a href="http://localhost/ksc/KSC/web/app_dev.php/contact">contact </a> </li>

</ul>