
body {
	background: #EDEFF0;
	color:black;
}

hr {
	margin-bottom: 30px;
	border-top: 1px solid #1DC5FF;
}

.clear {
	clear:both;
}

.navbar {
text-align: center;
max-height: 3%;
background: #9AC9D9;
}


.nav a {
	color: black;
}

.active a {
	background: #86ABB8;
	border-radius: 3px;
	color: black;
}

.nav a:hover {
	border-radius: 3px;
	background: black;
}

.header {
	text-align: center;
	background: #252830;
	color:white;
	padding-bottom: 1%;
}

.content-box{
	margin-left: 2%;
	margin-right: 2%;
	padding: 5px 5px;
	display: inline-block;
	float:right;
}

.content {
	width: 85%;
	margin-left: 2%;
	margin-right: 2%;
	padding: 5px 5px;
	display: inline-block;
	float:right;
}


.title {
	color: #FF8403;
	text-align: center;
}


.skill {
	float:left;
	margin-right: 8%;
	display:inline;
}

.skill h4 {
	text-align: left;
}

.formation ul {
	
	line-height: 25px;
}

.loisir span {
	text-align: center;
	margin: 0 6%;
	line-height: 15px;
}


.block-exp {
	margin-left: 40px;
	margin-bottom: 20px;
	float: left;
}

.exp-img {
	float:left;
	margin-bottom: 20px;
	width: 100px;
	height: 40px;
}

.popover {
	color:black;
}

.divider {
	border-top: 1px solid #1DC5FF;
	margin-top: 5%;
}

.divider > h3 {
	position:relative;
	top:-35px;
	left: 42%;
	background: #EDEFF0;
	max-width:200px;
	text-align: center;
}

.top {
	margin-top: 3%;
}

.nav-link {
	display:inline-block;
	margin-right: 1%;
}

.nav-info {
	display:inline-block;
}

.home {
	display: inline-block;
	margin-right: 1%;
}

.ling {
	text-align: left;
}